.headerContainer {
  box-sizing: border-box;
  padding: {
    top: 2rem;
    bottom: 4rem;
  }
  // height: 6rem;
}

.headerContent {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  // padding: 0 2rem;
  display: flex;
  align-items: flex-end;
}
